<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hogwarts School of Wizards</title>
  </head>
  <body>
    <nav>
     <ul>
       <a href="/students">All Students</a>
     </ul>
    </nav>
    <%= yield %>
  </body>
</html>
